<div class="container">
    <h2>SpaceX Lanch Program</h2>
    <div class="con1">
        <div class="year">
            <p>Filters</p>
            <p class="Lanch">Launch year</p>
            <hr>
            <div class="t">
            <table class="table1">
                <tr>
                    <td><button (click)="year(2006)">2006</button></td>
                    <td><button (click)="year(2007)">2007</button></td>

                </tr>
                <tr>
                    <td><button (click)="year(2008)">2008</button></td>
                    <td><button (click)="year(2009)">2009</button></td>

                </tr>
                <tr>
                    <td><button (click)="year(2010)">2010</button></td>
                    <td><button (click)="year(2011)">2011</button></td>

                </tr>
                <tr>
                    <td><button (click)="year(2012)">2012</button></td>
                    <td><button (click)="year(2013)">2013</button></td>

                </tr>
                <tr>
                    <td><button (click)="year(2014)">2014</button></td>
                    <td><button (click)="year(2015)">2015</button></td>

                </tr>
                <tr>
                    <td><button (click)="year(2016)">2016</button></td>
                    <td><button (click)="year(2017)">2017</button></td>

                </tr>
                <tr>
                    <td><button (click)="year(2018)">2018</button></td>
                    <td><button (click)="year(2019)">2019</button></td>

                </tr>
                <tr>
                    <td><button (click)="year(2020)">2020</button></td>


                </tr>
            </table>
        </div>
            <p class="Lanch">Successful Launch</p>
            <hr>
            <table class="table1">
                <tr>
                    <td><button (click)="successfullanch(true)">True</button></td>
                    <td><button (click)="successfullanch(false)">False</button></td>

                </tr>
            </table>
            <p class="Lanch">Successful Landing</p>
            <hr>
            <table class="table1">
                <tr>
                    <td><button (click)="successfullanding(true)">True</button></td>
                    <td><button (click)="successfullanding(false)">False</button></td>

                </tr>
            </table>
            <p>Selected filters</p>
            <P>Year:{{a[0]}}</P>
            <p>Successful Launch:{{a[1]}}</p>
            <p>Successful Landing:{{a[2]}}</p>
            <table class="table1">
                <tr>
                    <td><button class="Lanch" (click)="func2()">Apply</button></td>
                    <td><button (click)="clear()">Clear</button></td>

                </tr>
            </table>
        </div>
        <div class="flight">
            <div class="flight_con">
                <!-- for display flex -->
                <div class="rocket">
                    <div *ngFor="let i of rocket_Data">
                        <!-- for ng-for -->
                        <div class="card">
                            <img src="{{i.links.mission_patch}}"><br><br>
                            <a class="heading">{{i.mission_name}} #{{i.flight_number}}</a><br><br>
                            <a> Mission Ids:</a> {{i.mission_id[0]}}<br>
                            <a> Launch Year:</a> {{i.launch_year}}<br>
                            <a> Successful Launch:</a> {{i.launch_success}}<br>
                            <a> Successfull Landing :</a> {{i.rocket.first_stage.cores[0].land_success}}
                        </div>

                    </div>
                </div>


            </div>

        </div>
    </div>

</div>