.container{
   
    background-color: rgb(238, 237, 237);
    padding: 10px;
}
.year{
    border: 1px solid green;
    width: 20%;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    height: 850px;
}
.con1{
    display: flex;
    margin-left: 20px;
}
.flight{
   
    width: 75%;
    margin-left: 20px;
  
   
}
.Lanch{
    text-align: center;
}
hr{
    width: 80%;
}
tr,td{
   
    padding: 10px;
    text-align: center;
   
}

table{
   margin-left: 40px;
}
button{
    border: none;
    background-color: rgb(88, 155, 20);
    padding: 10px;
    border-radius: 10px;
}
button:hover{
    background-color: rgb(59, 95, 22);
}


.heading{
    color: rgb(15, 177, 241);
}
.rocket{
  
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
img{
    width: 200px;
  
}
.card{
   
    margin-left: 50px;
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 210px;
}